@page {
    size: 279.4mm 215.9mm;
    margin: 38mm 25mm;
    @bottom-left {content: "bjungbogati: /home/bjungbogati/R/packages/nmtlf 04DEC2020 20:03"}
    @top-right {content: element(pageNum)}
  }

  .lightable-minimal tbody tr td:first-child {
    overflow-wrap: break-word;
    width:350px!important;
  }

    
