.pageNum, .pageNum:after {
  content: "Page " counter(page) " of " counter(pages);
  margin: -60px 0 0;
}

body{
    font-family: Courier New;
    font-size: 10pt;

  }

h1,h2,h3,h4,h5,h6{
    font-family: Courier New;
    font-size: 12pt;
  }

.lightable-minimal {
  width: 100%;
}

.lightable-minimal tbody tr td:first-child {
  width: 160px !important;
}

.lightable-minimal tbody tr td {
  width: 120px !important;
}

.lightable-minimal thead {
  border-bottom: 1.5px dashed #666;
  empty-cells: hide;

}


  .lightable-minimal thead tr:last-child th {
    border-bottom: none;
  }

.lightable-minimal tbody tr td:first-child {
  overflow-wrap: break-word;
  width: 500px;

}

.lightable-minimal tbody tr td {
  overflow-wrap: break-word;
  width: 80px;

}

.lightable-minimal { border-collapse: collapse; }

th {
  font-weight: normal !important;
}

.lightable-minimal tbody tr td:first-child {
    overflow-wrap: break-word;
    width: 160px !important;
    padding: 5px 0 5px !important;
}


.pagedjs_pagebox * {
    box-sizing: none !important;
}

.pagedjs_pages .pagedjs_margin .pagedjs_margin-content {
    width: 100%;
    margin: -110px 0px 0px;
}

/*page break in tables*/
div.pagebreak
    {
        page-break-after: always;
        page-break-inside: avoid;
    }

table { overflow: visible !important; }
thead { display: table-header-group }
tfoot { display:  table-footer-group; }
tr { page-break-inside: avoid }

